In [ ]:
'''
@Author:Shivam Mathur
@Date:2021-07-13
@Last Modified by:Shivam Mathur
@Last Modified time:2021-07-13
@Title:Python program to select the rows where number of attempts in the
examination is less than 2 and score greater than 15.
'''

In [ ]:
'''
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, 'np.nan', 9, 20, 14.5, 'np.nan', 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
'''

In [3]:
import pandas as pd

In [11]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, 0 , 9, 20, 14.5, 0 , 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [14]:
exam_df=pd.DataFrame(exam_data,labels)

In [15]:
exam_df[(exam_df['attempts']<2) & (exam_df['score']>15)]

    name  score  attempts qualify
j  Jonas   19.0         1     yes