In [ ]:
'''
@Author:Shivam Mathur
@Date:2021-07-13
@Last Modified by:Shivam Mathur
@Last Modified time:2021-07-13
@Title:Write a Python program to add, subtract, multiple and divide two Pandas Series.
Sample Series: [2, 4, 6, 8, 10], [1, 3, 5, 7, 9]
'''

In [2]:
import pandas as pd

In [3]:
dataSet1=pd.Series([2, 4, 6, 8, 10])
dataSet2=pd.Series([1, 3, 5, 7, 9])

In [4]:
#Addition of data sets
dataSet1+dataSet2

0     3
1     7
2    11
3    15
4    19
dtype: int64

In [5]:
#Substraction of data sets
dataSet1-dataSet2

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [6]:
#Divison of data sets
dataSet1/dataSet2

0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [7]:
#Multiplicatin of data sets
dataSet1*dataSet2

0     2
1    12
2    30
3    56
4    90
dtype: int64