In [ ]:
'''
@Author:Shivam Mathur
@Date:2021-07-13
@Last Modified by:Shivam Mathur
@Last Modified time:2021-07-13
@Title: Write a Python program to select the specified columns and rows from a given data
frame.

In [ ]:
#Additional Details
'''
Select 'name' and 'score' columns in rows 1, 3, 5, 6 from the following data frame.
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
'''

In [1]:
import pandas as pd

In [4]:
exam_dict={'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew',
'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, 'np.nan', 9, 20, 14.5,'np.nan', 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [5]:
exam_df=pd.DataFrame(exam_dict,labels)

In [14]:
exam_df.columns

Index(['name', 'score', 'attempts', 'qualify'], dtype='object')

In [6]:
columns=['name','score']
rows=[1,3,5,6]

In [16]:
exam_dfNew=exam_df[columns].iloc[rows]
print(exam_dfNew)

      name   score
b     Dima       9
d    James  np.nan
f  Michael      20
g  Matthew    14.5

In [17]:
exam_dfNew=exam_df.iloc[[1,3,5,6],[0,1]]
print(exam_dfNew)

      name   score
b     Dima       9
d    James  np.nan
f  Michael      20
g  Matthew    14.5

In [19]:
exam_dfNew=exam_df.loc[['b','d','f','g'],['name','score']]
print(exam_dfNew)

      name   score
b     Dima       9
d    James  np.nan
f  Michael      20
g  Matthew    14.5